<TR $(IF:PLAYERS)bgcolor=#603030$(ENDIF)>
<TD>$SERVERNAME
<TD align=center>$(IFNOT:QWMASTER)$PLAYERS/$MAXPLAYERS$(ENDIF)
<TD>$MAP
<TD>$GAME
<TD>$HOSTNAME
$(IF:PLAYERS)$(IF:FLAG(-P))
<tr><td>
<TR bgcolor=#603030>
<TD colspan=6><TABLE cellpadding=1 border=0 cellspacing=0 width=45%>
  <TR bgcolor=#555555>
  <TH width=10 bgcolor=#603030>&nbsp;</TH>
  <TH width=110>Player Name</TH>
  <TH width=40 align=right>Frags</TH>
  <TH width=40 align=right>Ping</TH>
  <TH>&nbsp;</TH>
$PLAYERTEMPLATE
</TABLE>
$ENDIF$ENDIF
<tr><td>&nbsp;</td>
