<HTML>$HTML
<HEAD>
<TITLE>broccoli Quake 2 servers</TITLE>
<meta http-equiv="Pragma" content="no-cache">
</HEAD>

<BODY bgcolor=black text=white link=#ccffff vlink=#90e0e0>

<H1>broccoli Quake 2 servers</H1>
Last update: $NOW

<blockquote>
<p><i>The Solaris version of Quake II v 3.15 (soon 3.17) is not yet
available.  As soon as I can get my hands on the bits, I'll be running
upgrading the server.</i>
<p>I run $TOTALSERVERS servers on a Sun Ultra 2 running Solaris 2.5.1.
The machine has two CPUs, so performance is good even when I'm using
it for work.  <i>Enjoy!</i><br>
</blockquote>
<p>

<TABLE cellspacing=0 cellpadding=1 border=0>
<TR bgcolor=#555555>
  <TH width=180>Server Name
  <TH width=70>Players
  <TH width=80>Map
  <TH width=90>Game
  <TH>Address
</TR>
