/*
 * qstat
 * by Steve Jankowski
 *
 * Copyright 2021 Steven Hartland
 *
 * Licensed under the Artistic License, see LICENSE.txt for license terms
 */
#ifndef QSTAT_VERSION_H
#define QSTAT_VERSION_H

#ifndef QSTAT_VERSION
	#define QSTAT_VERSION "CHANGEME"
#endif

#endif
